{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img"
         src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{
                post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted | humanize }}</small>
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
        <div class="article-metadata"></div>
        <small class="text-muted">Post ID: {{ post.id}}</small>
        <small class="text-muted">| {{ post.view_count}} views</small>
        <small class="text-muted">| {{ post.id | replycount }} replies (last {{post.id | lastcomment |
            humanize}})</small>
        <small class="text-muted">| Topic: {{ post.topic }}</small>
    </div>
</article>
<article class="media content-section">
    <img class="rounded-circle article-img"
         src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_comments', username=comment.author.username) }}">{{ comment.author.username }}</a>
            <small class="text-muted">{{ comment.date_posted | humanize }}</small>
        </div>
        <p class="article-content">{{ comment.content }} </p>
        <div class="article-metadata"></div>
        <small class="text-muted">Comment ID: {{ comment.id }}</small>
    </div>
</article>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
