{% extends "layout.html" %}
{% block content %}
<h2 class="mb-3">{{user.username}}: <a href="{{ url_for('users.user_posts', username=user.username) }}"> ({{posts.total}}) Posts </a> | ({{comments.total}}) Comments </a></h2>
{% for comment in comments.items %}
<article class="media content-section" id="comments">
    <div class="center">
        <a href="/comment/{{comment.id | associate }}/{{comment.id}}/upvote" class="fa-solid fa-arrow-up fa-2x"> </a>
        <div class="vote-counter">{{ comment.upvote_count - comment.downvote_count}}</div>
        <a href="/comment/{{comment.id | associate}}/{{comment.id}}/downvote" class="fa-solid fa-arrow-down fa-2x"></a>
    </div>
    <svg  class="avatar" src={{ comment.author.username | avatar |safe}} </svg>
        <div>
</div>
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_comments', username=comment.author.username) }}">{{
                comment.author.username }}</a>
            <small class="text-muted">{{ comment.date_posted | humanize }}</small>
        </div>
        <p class="article-content">  {{ comment.content }} </p>
        <div class="article-metadata"></div>
        <a class="mr-3" href="{{ url_for('comments.comment', post_id=comment.id|associate, comment_id=comment.id) }}">Comment ID: {{ comment.id }}</a>
    </div>
</article>
{% endfor %}
{% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if comments.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}